/*************************
  * list items
  *************************/
  .list-card {
    display: block;
    border: 1px #6c757d solid;
    border-radius: 4px;
    margin: 2.5px;
  }
  
  .list-item {
    position: relative;
    padding: 12px;
  }