/*************************
* dom section
*************************/
body {
    margin: 0;
}
.app {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}
  /*************************
  * flexbox setup
  *************************/
  header,
  footer {
    background: #007bff;
    height: 10vh;
    text-align: center;
  }
  header,
  footer,
  nav {
    padding: 1em;
  }
  .side-nav {
    display: none;
  }
  .col-1 {
    background: #6c757d;
    flex: 1;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .content > section {
    flex: 4;
    min-height: 80vh;
  }
  
  /*************************
  * list items
  *************************/
  .list-card {
    display: block;
    border: 1px #6c757d solid;
    border-radius: 4px;
    margin: 2.5px;
  }
  
  .list-item {
    position: relative;
    padding: 12px;
  }
  
  /*************************
  * checkbox
  *************************/
  /* Customize the label (the container) */
  .label-container {
    display: flex;
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    font-size: 22px;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default checkbox */
  .label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Custom checkbox styling */
  .checkmark {
    position: absolute;
    top: 0;
    left: 15px;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  .drag-icon {
    position: absolute;
    color: #6c757d;
    top: 2px;
    left: -15px;
  }
  
  .user-icon {
    position: absolute;
    right: 5px;
    top: 5%;
    width: 45px;
    height: 90%;
  }
  
  .user-img {
    width: 100%;
    border: 2px black solid;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .label-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .label-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .label-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .label-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .box-shadow {
    box-shadow: 0px 1px 2px rgba(0,0,0,.4)
  }
  
  /*************************
  * media queries
  *************************/
  @media (min-width: 768px) {
    .side-nav {
      display: flex;
    }
    
  }