.hero-container {
    position: relative;
    width: 100%;
    min-height: 480px;
    background-color: gray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('../images/aboutus/hero_TEMP.jpg');
    background-size: cover;
    
}

.banner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 15px;
}

.about-header {
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    color: #EEE;
}

.about-white-logo {
    display: inline-block;
    max-height: 80px;
    margin: auto 0;
}

.text-container {
    text-align: center;
}

.text-container:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 40%;
    border-bottom: 2px #333333 solid;
}

.team-text {
    margin-top: 15px;
    margin-bottom: 5px;
}

.about-p {
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
}

.team-wrapper {
    justify-content: space-evenly;
    text-align: center;
}

.team-container{
   display: inline-flex;
   flex-direction: row;
   flex-wrap: wrap; 
}

.team-card{
    align-self: center;
    margin: 25px auto;
}

.team-img-container {
    width: 180px;
    height: 180px;
    padding: 15px;
}

.team-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;
    border: 6px orange solid;
}

.team-img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    webkit-transform: scale(1.01);
}

.team-title {
    margin: 0;
    margin-top: 10px;
}

.team-role {
    margin: 0;
    font-weight: 400;
    font-size: 0.9rem;
}

.team-role:after {
    content: "";
    display: flex;
    margin: 0 auto;
    width: 75%;
    border-bottom: 1px #333333 solid;
}

.team-icons {
    margin: 4px 0;
    a {
        margin: auto 4px;
        font-size: 1.5rem;
    }
    a:hover {
        color: rgb(206, 35, 22);
    }
}

/*********************
* Media Queries
********************/
@media all and (min-width: 1024px) {
    .banner-container {
        top: -10px;
        left: 15px;
    }
    .about-header {
        margin-left: 15px;
        font-size: 3rem;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .banner-container {
        top: -10px;
        left: 15px;
    }
    .about-header {
        margin-left: 10px;
        font-size: 2.5rem;
    }
    .about-white-logo {
        max-height: 60px;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .banner-container {
        top: -10px;
        left: 15px;
    }
    .about-header {
        margin-left: 10px;
        font-size: 2rem;
    }
    .about-white-logo {
        max-height: 40px;
    }
}

@media all and (max-width: 480px) {
    .hero-container {
        display: none;
    }
}