/*************************
  * checkbox
  *************************/
  /* Customize the label (the container) */
  .label-container {
    display: flex;
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    font-size: 22px;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default checkbox */
  .label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Custom checkbox styling */
  .checkmark {
    position: absolute;
    top: -3px;
    left: 5px;
    height: 30px;
    width: 30px;
    background-color: #eee;
    border: 1px solid #26a69a;
    border-radius: 4px;
  }
  
  /* On mouse-over, add a grey background color */
  .label-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .label-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .label-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .label-container .checkmark:after {
    left: 11px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }