.create-list-heading {
    text-align: center;
    padding: 0 5%;
}

.date-fieldset {
    margin-bottom: 15px;
    padding-top: 25px;
    border-width: 1px;
    border: 1px #26a69a solid;
    border-image: none;

    legend {
        position: relative;
    }
    
}

.create-list-right {
    text-align: right;

    button {
        margin-bottom: 15px;
    }

}

.flatpickr-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #26a69a;
    border-radius: 0;
    outline: none;
    width: 150px;
}