body{
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    background: #011c40;
}
.new-list-button{
    width: 25px;
    position: relative;
    left: 1px;
    top: 1px;
}
.copied{
    font-size: 0.5em;
    color: #1c776e;
}
.dashboard-container{
    font-size: 20px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dashboard-content{
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    height: 85%;
    margin: 0.3em 0.3em;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    background: white;
 
}
.dashboard-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dashboard_user{
    /* font-size: 5em; 
    align-self: center;
    padding: 10px;
    cursor: pointer;  */
    margin-right: 20px;
    margin-top: 20px;
    /* position: absolute; */
    /* left: 80%; */
    /* top: 0; */
    /* transform: translateX(-50%); */
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    width: 100px;
    box-shadow: 0px 7px 9px -1px rgba(189,187,189,1);
}
.dashboard-details{
    margin-left: 5%;
}
.dashboard-nav{
display: flex;
justify-content: space-between;
padding: 0.3em;
}

.dashboard_toggle{
    display: flex;
    /* flex-direction: row; */
    /* background: bisque; */
    justify-content: space-between;
    padding: 10px;
}
.fa-toggle-off{
    font-size: 1.5em;
    cursor: pointer; 
}
.dashboard-button{
    justify-self: flex-end;
}
.fa-chevron-circle-left{
    font-size: 1.8em;
    cursor: pointer;
    flex-grow: 0.95; 
    position: absolute;
    color: white;
    
}
.fa-sign-out-alt{
    font-size: 1.2em;
    cursor: pointer;
    color: white;
    padding-inline-start: 5px;    
}

.dashboard-items{
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 8px;
    
}
.dashboard-signout{
    display: flex;
    text-align: right;
    flex-grow: 0.98;
    cursor: pointer; 
    color: white;
    font-size: 0.6em;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
}
.dashboard-items>div{
    /* width: 85vw; */
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    margin: 0.2em 0;
    align-self: auto;
    border: 0.5px solid grey;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
i{
    cursor: pointer;
}
.dashboard_plus{
    font-size: 2.2em;
    position: absolute;
    bottom: 0;
    align-self: center;
    color: white;
    background-color: #26a69a;
    border: 2px solid white;
    border-radius: 50%;
}
.dashboard_link{
    color: white;
    background-color: #1976d2;
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
    /* font-size: 1em; */
}

.dashboard-right{
    display: flex;
    justify-content: space-between;
}
.dashboard-left{
    display: flex;
    justify-content: space-between;
}
.fa-lock-alt{
    color: orange;
    background-color: #d32f2f;
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
}
.fa-unlock-alt{
    color: orange;
    background-color: #26a69a; 
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
}
.dashboard_plus:hover{
    background-color: #1c776e;
}
.settings-button {
    color: white;
    background-color: #828282;
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
}

.dashboard_text{
    /* display: inline-block; */
    /* position: absolute; */
    align-self: auto;
    padding: 5px;
    color: #1976d2;
}
.dashboard_text:hover{
    text-decoration: underline;
}
.event-details{
    display: flex;
    flex-direction: column;
    position: relative;
}
.eventDate{
    position: relative;
    left: 5px;
    font-size: 0.6em;
}
/* .btn-green{
    display:block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 30pt;

} */

/*************************
* Toggle button
*************************/
input[type=checkbox]#switch{
	height: 0;
	width: 0;
    visibility: hidden;
}

.label-user {
	cursor: pointer;
    
    text-indent: 30px;
	width: 60px;
	height: 25px;
	background: grey;
	display: inline-block;
	border-radius: 100px;
    position: relative;
 }

.label-user:after {
    content: 'All';
    font-size: 8pt;
    color: white;

	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 90px;
    transition: 0.3s;
}

input:checked + .label-user{
    background: #1976d2;

}

input:checked + .label-user:after {
	left: calc(100% - 5px);
    transform: translateX(-100%);
    content: '';
    font-size: 8pt;
    color: white;
    
}

.label-user:active:after {
    width: 15px;
}

.new-list-button-container {
    position: absolute;
    top: -20px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27AE60;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px white solid;
    cursor: pointer;
}

.new-list-button-container:hover {
    background-color: rgb(27, 122, 67);
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    .home-title{
        font-size: 4em;
    }
    .logo-container{
        height: 150px;
        width: 150px;
    }
    .home-text {
        font-size: 1em;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {

}

@media all and (min-width: 480px) and (max-width: 768px) {

}

@media all and (max-width: 480px) {
    .dashboard_text{
        font-size: 0.7em;
    }
    .eventDate{
        font-size: 0.5em;
    }
}

