%flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container{
    height: 100vh;
    @extend %flex-column;
}

.home-content{
    @extend %flex-column;
height: 100vh;
justify-content: space-evenly;
}

.new-list{
    justify-content: center;
    @extend %flex-column;
}
.new-list-btn{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.sign-in{
cursor: pointer;
}

#logo{
height: 25vh;
}

.home-title{
font-weight: 700;
font-size: 4em;
letter-spacing: 0.1em;
color: orange;
}

.home-templates{
    @extend %flex-column;
}

.template{
color: orange;
list-style: none;
cursor: pointer;
}
.home-hidden{
display: none;
}

.instruction{
    margin-top: 0;
    margin-bottom: 0.5em;
}

.home-arrow{
    cursor: pointer
}