.home-container{
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
}

.home-content{
display: flex;
flex-direction: column;
align-items: center;
height: 100vh;
justify-content: space-evenly;
}

.sign-in{
cursor: pointer;
}

#logo{
height: 25vh;
}

.home-title{
font-weight: 700;
font-size: 4em;
letter-spacing: 0.1em;
color: orange;
}

.home-add{
font-size: 3em;
color: orange;
cursor: pointer;
}

.home-add:hover{
color: rgb(211, 139, 4);
}

.home-templates{
display: flex;
flex-direction: column;
align-items: center;
}

.template{
color: orange;
list-style: none;
cursor: pointer;
}
.home-hidden{
display:none;
}