.home-container{
    position: relative;
    flex: 4;
    min-height: 80vh;
    margin: 0 12px;
    color: white;
    text-align: center;
}

.new-list-btn{
    width: 50px;
    height: 50px;
    margin: 2vh auto;
    cursor: pointer;
}

.sign-in{
    cursor: pointer;
    position: relative;
    bottom: 15px;
    width: 270px; 
}

.logo-container{
    height: 150px;
    width: 150px;
    background-color: white;
    border: 20px solid orange;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 3vw;
}
#logo {
    width: 100%;
    height: 100%;
}

.home-title{
    font-weight: 700;
    font-size: 3.5em;
    letter-spacing: 0.1em;
    color: orange;
    margin-bottom: 25px;
    font-family: 'Montserrat';
}

.add-icon{
    width: 20px;
}

.list-icon-wrapper {
    -webkit-animation: bounce 5s infinite linear;
    animation: bounce 5s infinite linear;
}

.template{
    color: orange;
    list-style: none;
    cursor: pointer;
}

.instruction{
    margin-top: 0;
    margin-bottom: 0.5em;
    font-family: 'Roboto';
}
.home-text {
    margin-top: 25px;
    font-size: 1em;
}

.home-arrow{
    cursor: pointer;
}

.shadow {
    -webkit-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.5));
    filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.5));
}

.home-hidden{
    display: none;
}

.dash-button {
    cursor: pointer;
}

.meet-team-btn-container {
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.meet-team-btn {
    text-align: center;
    cursor: pointer;
}

/*********************
* Animations
********************/
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    }
    @keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    } 

.zoomInDown {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomInDown {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    }
    @keyframes zoomInDown {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    }

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes bounce {
    0%, 4%, 11%, 16%, 20% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    }
    8%, 9% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
    }
    14% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    }
    18% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
    }
    }
    
    @keyframes bounce {
    0%, 4%, 11%, 16%, 20% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    }
    8%, 9% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
    }
    14% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    }
    18% { -webkit-transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
    }
    }

/*********************
* Media Queries
********************/
@media all and (min-width: 1281px){
    .home-title{
        position: relative;
        bottom: 32px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    .home-title{
        font-size: 3.5em;
        position: relative;
        bottom: 30px;
    }
    .logo-container{
        height: 150px;
        width: 150px;
    }
    .home-text {
        font-size: 1em;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .home-title{
        font-size: 3em;
    }
    .logo-container{
        height: 125px;
        width: 125px;
    }
    .home-text {
        font-size: 0.9em;
    }
    .sign-in{
        margin-top: 2em;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .home-title{
        font-size: 2em;
    }
    .logo-container{
        height: 100px;
        width: 100px;
        border: 15px solid orange;
    }
    .home-text {
        font-size: 0.8em;
    }
}

@media all and (max-width: 480px) {
    .home-title{
        font-size: 3em;
    }
    .logo-container{
        height: 150px;
        width: 150px;
        border: 10px solid orange;
    }
    // .home-text {
    //     font-size: 0.7em;
    // }
    .sign-in{
        margin-top: 10%;
    }
}