

/*************************
* List
*************************/
.list-container{
    color: black;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-nav{
    display: flex;
    justify-content: space-between;
}

.list-footer{
    display: flex;
    justify-content: flex-end;
}

.list-top{
    font-size: 1.5em;
}

.list-content{
    border: 5px solid black;
    border-radius: 5px;
    position: relative;
    height: 100%;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.list-details{
    text-align: center;
    margin: 0.2em;
    white-space: nowrap;
}

.list-title{
    text-align: center;
    white-space: nowrap;
    margin-top: 1.5em;
    margin-bottom: 0;
}

.list-items{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
}

.list-item{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 0.5px solid lightgrey;
    height: 51px;
}

/*************************
* Font Awesome
*************************/

#avatar{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    width: 100px;
    cursor: pointer;
    box-shadow: 0px 7px 9px -1px rgba(189,187,189,1);
}

.back{
    color: white;
    font-size: 2em;
    cursor: pointer;
}

.outer{
    color: white;
    font-size: 1.5em;
    background-color: #1976d2;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.sort{
    margin-right: 1em;
    cursor: move;
}

.delete{
    margin-left: 0.5em;
}

#add-button{
    position: relative;
    background-color: white;
    font-size: 2em;
    color: #26a69a;
    border-radius: 50%;
    box-shadow: 0px 7px 9px -1px rgba(189,187,189,1);
}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    // position: absolute;
    // bottom: 3%;
    /* position: sticky;
    bottom: 10px; */
}
.list-url{
    color: white;
    background-color: #1976d2;
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
}
.add-input-field {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #26a69a;
    height: 3rem;
    width: 60vw;
    font-size: 16px;
    margin: 0 8px 0 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    cursor: text;
}

@media (min-width: 600px){
    .list-item{
        width: 80vw;
    }
}



/***************************
* Modal
****************************/
/* .main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal {
    display: none;
}

.modal-show,
.modal-hide {
    display: flex;
}

.modal-align {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.modal-container {
    position: relative;
    width: 90%;
    height: 40%;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header {
    display: flex;
    padding: 10px 40px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 45px;
    width: 100%;
    bottom: 0;
}

.modal-buttons{
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.modalCloseBtn {
    background-color: transparent;
    border: none;
    padding: 0 40px;
    color: #26a69a;
    cursor: pointer;
    font-size: 1.5em;
    position: relative;
    left: 0%;
    bottom: 1em;
}

.modalCloseX {
    position: absolute;
    top: 6px;
    right: 15px;
}

.modalCloseX:hover {
    cursor: pointer;
}
.add-input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #26a69a;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 80%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
} */

/*******MEDIA QUERIES*******/
/* @media (min-width: 600px){
    .modal-container{
        width: 700px;
    }
    .modal-header {
    display: flex;
    background: white;
    padding: 20px 60px;
    }
    .notification{
    position: relative;
    left: 3.5em;
    bottom: 5em;
    }
    .modalCloseBtn {
    position: relative;
    left: 70%;
    bottom: 1em;
    }
} */

/* Animation */
/* .modal.modal-show {
    animation: modal-open 0.3s;
}

@keyframes modal-open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal.modal-hide {
    animation: modal-close 0.3s;
}

@keyframes modal-close {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
} */