/*************************
* List
*************************/
.list-container{
    color: black;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-nav{
    display: flex;
    justify-content: space-between;
}

.list-footer{
    display: flex;
    justify-content: flex-end;
}

.list-top{
    font-size: 1.5em;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather';
}

.list-content{
    border: 5px solid black;
    border-radius: 5px;
    position: relative;
    height: 100%;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.description-container {
    display: inline-block;
    max-width: 650px;
}

.list-details{
    word-wrap: break-word;
    margin: 0.25em;
    font-size: 1.25rem;
    font-family: 'Merriweather';
    margin: 0.25em 5%;
}

.list-title{
    text-align: center;
    margin: 1em 0.5em 0;
    word-break: break-all;
}

.list-items{
    margin-top: 1em;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    align-items: center;
}

.list-item{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 0.5px solid lightgrey;
    height: 51px;
}

.list-right{
    display: flex;
}

.list-date{
    margin: 0.4em;
    font-size: 0.7em;
}

.item-name{
    margin: 0 0.5em;
    word-break: break-all;
}

.edit-item-field {
    background-color: transparent;
    border: 1px solid #26a69a;
    font-size: 14px;
    padding: 0;
    cursor: text;
    text-indent: 15px;
    height: 32px;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.edit-row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 1.5em 0;
}
.edit-form-container{
    width: 100%;
}
.edit{
    width: 80%;
}
.edit-date{
    display: inline-block;
    position: relative;
    bottom: 7px;
    left: 10px;
    cursor: pointer;
}
/*************************
* Font Awesome
*************************/

#avatar{
    // margin-right: 10px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    width: 70px;
    height: 70px;
    box-shadow: 0px 7px 9px -1px rgba(189,187,189,1);
}

.back{
    color: white;
    font-size: 2em;
    cursor: pointer;
}

.outer{
    color: white;
    font-size: 1.5em;
    background-color: #1976d2;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.sort{
    margin-right: 1em;
    cursor: move;
}

.delete{
    margin-left: 0.5em;
}

#add-button{
    position: relative;
    background-color: white;
    font-size: 2em;
    color: #26a69a;
    border-radius: 50%;
    box-shadow: 0px 7px 9px -1px rgba(189,187,189,1);
}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    // position: absolute;
    // bottom: 3%;
    /* position: sticky;
    bottom: 10px; */
}
.list-url{
    color: white;
    background-color: #1976d2;
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
}
.add-input-field {
    position: relative;
    left: 1.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #26a69a;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 87%;
    font-size: 16px;
    padding: 0;
    line-height: 1.15;
    box-sizing: content-box;
    overflow: visible;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-writing-mode: horizontal-tb !important;
}


.add-item-button{
    // border-radius: 10px;
    position: relative;
    left: 2%;
    cursor: pointer
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 1.5em 0;
}

.add-item-form-container {
    width: 90%;
}
.edit-btn{
    color: #26a69a;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: 600;
}

/*********************
* Media Queries
********************/
@media all and (min-width: 1280px) {
    .description-container {
        max-width: 650px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .description-container {
        max-width: 550px;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .description-container {
        max-width: 450px;
    }
}

@media all and (max-width: 480px) {
    .description-container {
        max-width: 350px;
    }
    .list-title{
        font-size: 1.5rem;
    }
    .list-details,.list-date{
        font-size: 1rem;
        text-align: center;
    }
}