/*************************
* Shared List
*************************/
.details{
    text-align: center;
    margin: 0.2em;
    white-space: nowrap;
}
.list-container{
    color: black;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-edit{
    font-size: 0.75rem;
    margin: 0 1rem;
}
.list-footer{
    display: flex;
    justify-content: flex-end;
}
.list-nav{
    display: flex;
    justify-content: space-between;
}

.list-options{
    display: flex;
}
.list-shared-form-container {
    width: 90%;
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.list_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 0.5px solid lightgrey;
    height: 51px;
    width: 100%;
}
// .shared-details {
//     margin: 0 0.7em;
//     text-align: center;
// }
.shared-date,.shared-details{
    margin: 0.25em 5%;
    font-size: 1.25rem;
    font-family: 'Merriweather';
    text-align: center;
}

.shared-date{
    width: 110%;
}

.shared-list-top{
    font-size: 1.5em;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// .shared-list-content{
//     border: 5px solid black;
//     border-radius: 5px;
//     position: relative;
//     height: 100%;
//     padding: 0.3em;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     background-color: white;
// }

.shared-name{
    text-align: center;
    margin:0.7rem;
}
.shared-list-items{
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
}

.shared-list-title{
    text-align: center;
    // margin-bottom: 0;
    // margin-top: 0.5em;
    margin: 0.5em 0.5em 0;
    word-break: break-all;
}

.person{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.checked{
    text-decoration: line-through;
}

.checkbox-login{
    margin: 0 0.5em;
}

.share{
    position: relative;
    right: 30%;
    font-size: 1rem;
}

.share-instruction{
    position: relative;
    left: 10%;
    color: black;
}
.shared-list-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.shared-label-container {
    text-align: start;
    margin: 7% 5% 1% 4.5%;
}
/*************************
* Font Awesome
*************************/

#shared-avatar{
    position: absolute;
    font-size: 4em;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    width: 100px;
    cursor: pointer;
}

.sort{
    margin-right: 1em;
}

.delete{
    margin-left: 0.5em;
}

#shared-add-button{
    position: relative;
    margin-right: 0.25em;
    background-color: white;
    font-size: 3em;
    align-self: center;
    color: #26a69a;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 7px 9px -1px rgba(189,187,189,1);
}

#shared-add-button:hover{
    color: darken(#26a69a, 5%);
}
.shared-add{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 1.2rem;
    position: absolute;
    bottom: 1%;
    // position: sticky;
    // bottom: 10px;
}

.filter{
    position: absolute;
    right: 5%;
    top: 10%;
    font-size: 0.95rem;
    cursor: pointer;
}

.filter>img{
    width: 20px;
    height: 20px;
}

.usage-instruction{
    margin: 1em 0.5em;
    font-size: 0.8em;
}

.usage-instruction-empty{
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 5vh;
}

.home-404 {
    text-align: center;
}


/***************************
* Clipboard
****************************/

#clickMe {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 150px;
}

    
.copy-link-input-field {
    position: relative;
    background-color: transparent;
    border:  1px solid #26a69a;
    border-radius: 0;
    outline: none;
    font-size: 14px;
    padding: 0;
    box-sizing: content-box;
    overflow: visible;
    cursor: text;
    text-indent: 15px;
    width: 90%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    

    &:focus{
        outline:0;
    }
}

.wrapper {
    margin: 0.5em auto; 
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    width: 80%;
    justify-content: center;
  
  h3 {
    color: #FFF;
    text-align: center;
  }
  
  p {
    color: #FFF;
    text-align: center;
    
    a {
      color: #FFF;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media all and (max-width: 320px ){
    .item-name{
        font-size: 0.6rem;
    }
    .list-item{
        height: 40px;
    }
    .person{
        width: 35px;
        height: 35px;
    }
    .shared-date, .shared-details{
        font-size: 1.1rem;
    }
    .usage-instruction{
        font-size: 0.75rem;
    }
}
@media all and ( min-width: 321px ) and (max-width: 375px ){
    .share-instruction{
        left: 5%;
    }
    .item-name{
        font-size: 0.8rem;
    }
    .list-item{
        height: 40px;
    }
    .person{
        width: 35px;
        height: 35px;
    }
    .usage-instruction{
        font-size: 0.75rem;
    }
}
@media all and ( min-width: 376px ) and (max-width: 480px) {
    .share-instruction{
        left: 5%;
    }
    .shared-list-title{
        font-size: 1.5rem;
    }
    .item-name{
        font-size: 0.9rem;
    }
    .shared-date,.shared-details{
        font-size: 1rem;
    }
    .shared-label-container {
        margin: 14% 5% 1% 4.5%;
    }
}
@media all and ( min-width: 480px ) and ( max-width: 584px ){
    .item-name{
        font-size: 1.1rem;
    }
}