
.sign-in-modal {
    background-color: rgba(0, 0, 0, .7);
    color: #333333;
    display: flex;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    
}
.delete-modal .sign-in-modal-h{
    margin: 20px;
}


.sign-in-modal-content {
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin: 25px auto;
    padding: 25px;
    position: relative;
    width: 80%;
    z-index: 1;
    background-image: url("../images/listrally-modal.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 400px;
}

.sign-in-modal-close {
    height: 30px;
    width: 30px;
    line-height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    font-weight: bold;
    color: #dedede;
    cursor: pointer;
}

.sign-in-modal-close:hover {
    color: #d32f2f;
    background-color: #dedede;
}

.sign-in-modal-h {
    margin-top: 20%;
}

.sign-in-modal-span {
    display: block;
    margin-top: 15px;
    padding: 0 15%;
}

.modal-btn {
    margin: 0 auto;
    display: block;
}

/*********************
* Media Queries
********************/
@media all and (min-width: 1024px) and (max-width: 1280px) {
    .sign-in-modal-content {
        background-size: 350px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .sign-in-modal-content {
        background-size: 300px;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .sign-in-modal-content {
        background-size: 250px;
    }
}

@media all and (max-width: 480px) {
    .sign-in-modal-content {
        background-size: 200px;
    }
    .sign-in-modal-span {
        padding: 0 5%;
    }
}
@media all and (max-height: 500px){
    .sign-in-modal-h {
        margin-top: 5%;
    }
}
@media all and (min-width: 750px) {
    .sign-in-modal-content.delete-modal{
        max-height: 60vh;
        max-width: 50vw;
        font-size: 0.7rem;
    }
    .delete-modal .sign-in-modal-h{
        margin: 40px 0px;
    }
    
}
@media all and (max-height: 415px){
    .sign-in-modal-content.delete-modal{
        font-size: 0.6rem;
    }
    .delete-modal .sign-in-modal-h{
        margin: 10px 0px;
    }
}
@media all and (max-width: 415px) and (max-height: 823px){
    .sign-in-modal-content.delete-modal{
        max-height: 60vh;
        font-size: 0.7rem;
    }
    .delete-modal .sign-in-modal-h{
        margin: 10px 0px;
    }
}
@media all and (min-width: 768px) and (min-height: 1024px){
    .sign-in-modal-content.delete-modal{
    max-height: 40%;
    }
}
@media all and (min-width: 1024px) and (min-height: 1366px){
    .sign-in-modal-content.delete-modal{
    max-height: 40%;
    }
}