body{
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background: lightblue;
}
.container{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.listContent{
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    height: 85%;
    margin: 0.3em 0;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    background: white;
 
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fa-user{
    font-size: 4em; 
    align-self: flex-end;
    padding: 10px;
    cursor: pointer; 
}

.nav,.footer{
display: flex;
justify-content: space-between;

}

.list_toggle{
    display: flex;
    /* background: bisque; */
    justify-content: space-between;
    padding: 10px;
}
.fa-toggle-off{
    font-size: 1.5em;
    cursor: pointer; 
}
.button{
    border-radius: 12px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
}
.fa-chevron-circle-left{
    font-size: 1.5em;
    cursor: pointer;
    flex-grow: 0.95;  
}
.fa-sign-out-alt{
    font-size: 1.2em;
    cursor: pointer; 
}
.items{
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.items>div{
    /* width: 85vw; */
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    margin: 0.2em 0;
    align-self: auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
}
i{
    cursor: pointer;
}
.fa-plus-circle{
    font-size: 2em;
    position: absolute;
    bottom: 0;
    align-self: center;
}